<!-- This page will eventually be the base view for the set auction -- allow bidding on current set, show countdown to ending, bid options, maybe admin options -->

{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Set Auction Admin</h1>
<div class="row">
<form action="#" method="POST">
    {% csrf_token %}
    <h5 class="card-title">Start Draft</h5>
    <input id="submit" type="submit" value="Click" />
</form>
{% for single_set in set_auction_schedule %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ single_set.set_name }}</h5>
                <p class="card-text">{{ single_set.end_time }}</p>
                <a href="{% url 'set_auction_detail' single_set.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
{% endfor %}
{% for single_set in set_auction_sets %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ single_set.set_code }}</h5>
                <h5 class="card-title">{{ single_set.set_name }}</h5>
                <p class="card-text">{{ single_set.end_time }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}